<h1>About</h1>
<p>This database is dedicated as en employee referral page. Here you will find information that the employee has chosen to make public to colleagues in the company. Please use this information wisely. We at the HR Department hope that this methodology will help employee to employee relations.</p>
